#login {
    background-image: url('../image/woman.jpg');
    background-size: cover;
}
#lists {
    background-image: url('../image/bags.jpg');
    background-size: cover; 
}
.lists-column {
    background-color: rgba(255,255,255,0.85);
    padding-bottom: 30px;
    border-radius: 5px;    
}
.items-column {
    background-color: rgba(255,255,255,0.85);
    border-radius: 5px;    
}
.list-title {
    text-transform: uppercase !important;
}
.name {
    text-transform: capitalize;
}
.divider {
    min-height: 15px;
    background-color: #eee;
}
.login-box {
    background-color: rgba(255,255,255,0.85);
    padding-bottom: 30px;
    border-radius: 5px;
}
.login-box h1 {
    font-weight: bolder;
}
#myGroup table {
    background-color: #FFFFFF;
}
.header .title {
    font-family: 'Titan One', cursive;
    font-size: 80px;
    font-weight: 100;
    color: #C83725;
    text-shadow: 1px 1px black;
    vertical-align: middle;
   
}

.btn-success {
    background-color: gray;
    border-color: gray;
    margin: 5px;
}

.btn-success:hover {
    background-color: #C83725;
    border-color: #ee3780;
}

