<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Shopping List</h1>
    <p>Hello, {{username}}!</p>
    
    <form action="/{{username}}/new_list" method="POST">
        <p>Please Add a List</p>
        <input type="text" name="list_name" placeholder="Add a list.."/>
        <input type="hidden" name="username" value="{{username}}"/>
        <input type="submit" value="Add"/>
    </form>
    
    
    
    
    
    <!--{% for message in all_the_messages %}-->
    <!--<p>{{message.body}}</p>-->
    <!--<button type="submit" class="btn btn-primary front-submit">Remove item</button>-->
    <!--{% endfor %}-->
    
   <!--{%for i in newlist%} -->
   <!--<p>strong{{i.sender}}</strong></p>: {{newlist.body}}-->
   <!--{% endfor %}-->
   
    
</body>
</html>