<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body> -->
<!--    <h1>Shopping List</h1>-->
<!--    <p>You must be logged in to continue!</p>-->
<!--     <form method="POST" action="/shopshop">-->
<!--        <input type="text" name="type" placeholder="add..."/>-->
         <!--<input type="text" name="colour" placeholder="colour"/>-->
         <!--<input type="text" name="size" placeholder="size"/>-->
         <!--<input type="text" name="brand" placeholder="brand"/>-->
         <!-- <input type="text" name="price" placeholder="price"/>-->
<!--        <input type="submit" value="add"/><br/>-->
        
<!--</form>-->
        
<!--    </form>-->
<!--    {% for shopping_item in shopping_front %}-->
<!--    <p>{{shopping_item.shoe}}</p>-->
<!--    <p>{{shopping_item.colour}}</p>-->
<!--    <p>{{shopping_item.size}}</p>-->
<!--    <p>{{shopping_item.brand}}</p>-->
<!--    <p>{{shopping_item.prize}}</p>-->
<!--    {% endfor %}-->
<!--</body>-->
<!--</html>-->

