<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Let's Shop</h1>
     <form method="POST" action="/shoes">
        <input type="text" name="type" placeholder="shoe type"/>
         <input type="text" name="price" placeholder="prize"/>
         <input type="text" name="colour" placeholder="shoe colour"/>
         <input type="text" name="size" placeholder="shoe size"/>
         <input type="text" name="brand" placeholder="shoe brand"/>
        <input type="submit" value="add item"/><br/>
        
    </form>
    {% for shopping_item in shopping_front %}
    <p>{{shopping_item.shoe_type}}</p>
    <p>{{shopping_item.shoe_price}}</p>
    <p>{{shopping_item.shoe_colour}}</p>
    <p>{{shopping_item.shoe_size}}</p>
    <p>{{shopping_item.shoe_brand}}</p>
    
    {% endfor %}
</body>
</html>